@font-face {
    font-family: Montserrat;
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: 300 800;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 300 800;
    font-style: italic;
}

html, body {
    font-family: Montserrat, Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
    height: 100%;
    display: flex;
    flex-direction: column;
}


header {
    display: flex;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    background-color: rgba(236, 230, 230, 0.479);
    font-size: 24px;
}


footer {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-top: auto;
}

a {
    text-decoration: none;
    color: grey;
}

.content {
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    padding: 16px;
    margin: 16px;
    gap: 8px;
    
  }

.image {
    border: solid black;
    border-radius: 4px;
}


 