@font-face {
    font-family: Montserrat;
    src: url(Montserrat/Montserrat-VariableFont_wght.ttf) format('truetype');
    font-weight: 300 800;
    font-style: normal;
}

@font-face {
    font-family: Montserrat;
    src: url(Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 300 800;
    font-style: italic;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html, body {
    font-family: Montserrat, Calibri, 'Trebuchet MS', sans-serif;
    font-size: 21px;
}

.header-container {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 20px;
    display: flex;
    height: 100px;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.recipe-gallery-container {
    padding: 30px;
    background-color: rgba(139, 163, 195, 0.385);
    display: flex;
}

.recipe-gallery {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}


footer {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(139, 163, 195, 0.385);
    flex: 1;
  }

  .footer-one,
  .footer-three {
    flex: initial;
    width: 300px;;
  }

  .footer-two {
    flex: 2;
  }

footer a {
    text-decoration: none;
    color: darkgrey;
    font-size: 18px;
  }




 